{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-2">
        <form action="{{ path('authenticate') }}" method="post">
            <div class="form-group">
                <label>Username</label>
                <input name="_username" class="form-control" placeholder="Username"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="_password" class="form-control" placeholder="Password" type="password" />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}